{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="media mx-5 border-bottom border-secondary">
        <div class="col-auto">
            <img src="{{dct.author.avatar.url}}" class="img-fluid rounded" alt="..." >
            <p class="text-center font-weight-bold mt-4 mb-1">
                100500
            </p>
            <div class="row mx-auto">
                <a href=""><img src="{% static 'img/like.png' %}" class="mx-1"></a>
                <a href=""><img src="{% static 'img/dislike.png' %}" class="mx-1"></a>
            </div>
        </div>
        <div class="col-auto media-body">
            <div class="text-left">
                <h5 class="mt-0">{{ dct.title }}</h5>
                <p class="text-secondary">by Aleksandr Dergachev</p>
                <p class="clip" style=" word-wrap: break-word; height: auto; width: auto; text-overflow: ellipsis;">{{ dct.question_text }}</p>
            </div>
            <div class="mb-3">
                Tags:
                <span class="mr-2"></span>
                <a href="" class="badge badge-secondary">perl</a>
                <a href="" class="badge badge-secondary">python</a>
                <a href="" class="badge badge-secondary">Voloshin</a>
                <p class="text-right text-secondary m-0">21.04.2020 at 4:20</p>
            </div>
        </div>
    </div>

    <div class=" mx-5 border-bottom border-secondary">
        {% for i in answers %}
            <div class="my-3">
                {% include 'inc/answer.html' with answers=answers %}
            </div>
        {% endfor %}
    </div>

    <div class="col-8 my-4 mx-auto">
        <form action="">
            <p><textarea class="form-control" rows="5" placeholder="Enter your answer here..."></textarea></p>
            <p><input class="btn btn-secondary" type="submit" value="Answer"></p>
        </form>
    </div>

{% endblock %}