{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="media mx-5 border-bottom border-secondary">
        <div class="col-auto">
            <img src="{{question.author.avatar.url}}" class="img-fluid rounded" alt="..." >
            <p class="text-center font-weight-bold mt-4 mb-1">
                {{ question.rating }}
            </p>
            <div class="row mx-auto">
                <a href=""><img src="{% static 'img/like.png' %}" class="mx-1"></a>
                <a href=""><img src="{% static 'img/dislike.png' %}" class="mx-1"></a>
            </div>
        </div>
        <div class="col-auto media-body">
            <div class="text-left">
                <h5 class="mt-0">{{ question.title }}</h5>
                <p class="text-secondary">{{question.author.username}}</p>
                <p class="clip" style=" word-wrap: break-word; height: auto; width: auto; text-overflow: ellipsis;">{{ question.question_text }}</p>
            </div>
            <div class="mb-3">
                Tags:
                <span class="mr-2"></span>
                {% for tag in question.tags.all %}
                    <a href="{% url 'ask_me:tag' tag.id %}" class="badge badge-secondary">{{ tag.tag_name }}</a>
                {% endfor %}
                <p class="text-right text-secondary m-0">{{ question.make_time }}</p>
            </div>
        </div>
    </div>

    <div class=" mx-5 border-bottom border-secondary">
        {% if answers %}
            {% for answer in answers %}
                <div class="my-3">
                    {% include 'inc/answer.html' with answer=answer %}
                </div>
            {% endfor %}
            {% include 'inc/pagination.html' with page=answers %}
        {% endif %}
    </div>

    <div class="col-8 my-4 mx-auto">
        <form action="">
            <p><textarea class="form-control" rows="5" placeholder="Enter your answer here..."></textarea></p>
            <p><input class="btn btn-secondary" type="submit" value="Answer"></p>
        </form>
    </div>

{% endblock %}