{% extends 'base_unauthorised.html' %}
{% load static %}

{% block content %}


    <div class="media mx-5 border-bottom border-secondary">
        <div class="col-2">
            <img src="{{dct.author.avatar.url}}" class="mr-3 img-fluid rounded" alt="..." >

        </div>
        <div class="col-10 media-body">
            <div class="text-left">
                <h5 class="mt-0">{{ dct.title }}</h5>
                <p class="clip" style=" word-wrap: break-word; height: auto; width: auto; text-overflow: ellipsis;">{{ dct.question_text }}</p>
            </div>
            <div class="mb-3">
                Tags: <a href="{% url 'ask_me:questions' %}" class="text-secondary"> answer</a>
            </div>
        </div>
    </div>

    {% comment %}<div class=" mx-5 border-bottom border-secondary">
        {% for i in dct %}
            <div class="my-3">
                {% include 'inc/answer.html' with dct=dct %}
            </div>
        {% endfor %}
    </div>{% endcomment %}

    <div class="col-8 my-4 mx-auto">
        <form action="">
            <p><textarea class="form-control" rows="5" placeholder="Enter your answer here..."></textarea></p>
            <p><input class="btn btn-secondary" type="submit" value="Answer"></p>
        </form>
    </div>

{% endblock %}