{% extends 'base_unauthorised.html' %}
{% load static %}

    {% block content %}
    <div class="col-8 mx-auto">
        <h4 class="text-md-left my-4" style=";">Settings:</h4>

        <form name="my-form" onsubmit="return validform()" action="success.php" method="post">
            <div class="form-group row">
                <label for="login" class="col-md-4 col-form-label text-md-left">Login</label>
                <div class="col-md-6">
                    <input type="text" id="login" class="form-control" name="login">
                </div>
            </div>

            <div class="form-group row">
                <label for="email_address" class="col-md-4 col-form-label text-md-left">E-Mail Address</label>
                <div class="col-md-6">
                    <input type="email" id="email_address" class="form-control" name="email-address">
                </div>
            </div>

            <div class="form-group row">
                <label for="nick_name" class="col-md-4 col-form-label text-md-left">NickName</label>
                <div class="col-md-6">
                    <input type="text" id="nick_name" class="form-control" name="nick_name">
                </div>
            </div>

            <div class="form-group row">
                <label for="upload_avatar" class="col-md-4 col-form-label text-md-left">Upload avatar</label>
                <div class="col-md-6">
                    <img src="{% static 'img/2.jpeg' %}" id="upload_avatar" alt="photo">

                    <div class="my-3">
                        <input type="file" id="upload_avatar" multiple accept="image/*,image/jpeg" name="upload_avatar">
                    </div>
                </div>
            </div>

            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-secondary">
                    Save
                </button>
            </div>

        </form>
    </div>
    {% endblock %}