{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-8 mx-auto">
        <h4 class="my-4">Sign up</h4>

        <form name="signup" enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}

            {% comment %}{% if form.non_field_errors %}
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </ul>
            {% endif %}{% endcomment %}

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group row">
                <label for="login" class="col-md-4 col-form-label text-md-left">Login</label>
                <div class="col-md-8">
                    {{form.username}}
                </div>
                {{ form.username.errors }}
            </div>

            <div class="form-group row">
                <label for="email_address" class="col-md-4 col-form-label text-md-left">E-Mail Address</label>
                <div class="col-md-8">
                    {{form.email}}
                </div>
            </div>

            {% comment %}<div class="form-group row">
                <label for="nick_name" class="col-md-4 col-form-label text-md-left">NickName</label>
                <div class="col-md-8">
                    <input type="text" id="nick_name" class="form-control" name="nick_name">
                </div>
            </div>{% endcomment %}

            <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-left">Password</label>
                <div class="col-md-8">
                    {{form.password}}
                </div>
                {{ form.password.errors }}
            </div>

            <div class="form-group row">
                <label for="password_repeat" class="col-md-4 col-form-label text-md-left">Repeat Password</label>
                <div class="col-md-8">
                    {{ form.repeat_password }}
                    {% comment %}<input type="password" id="password_repeat" class="form-control" name="password_repeat">{% endcomment %}
                </div>
            </div>

            <div class="form-group row">
                <label for="upload_avatar" class="col-md-4 col-form-label text-md-left">Upload avatar</label>
                <div class="col-md-8">
                    {{ form.avatar }}
                    {% comment %}<input type="file" id="upload_avatar" multiple accept="image/*,image/jpeg" name="upload_avatar">{% endcomment %}
                </div>
            </div>

            <div class="">
                <span id="output"></span>
            </div>

            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-secondary">
                    Register
                </button>
            </div>

        </form>
    </div>

    <script>
    function handleFileSelect(evt) {
        var file = evt.target.files; // FileList object
        var f = file[0];
        // Only process image files.
        if (!f.type.match('image.*')) {
            alert("Image only please....");
        }
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function(theFile) {
            return function(e) {
                // Render thumbnail.
                var span = document.createElement('span');
                span.innerHTML = ['<img class="thumb" title="', escape(theFile.name), '" src="', e.target.result, '" />'].join('');
                document.getElementById('output').insertBefore(span, null);
            };
        })(f);
        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
    }
    document.getElementById('id_avatar').addEventListener('change', handleFileSelect, false);
</script>

{% endblock %}
