{% extends 'base_unauthorised.html' %}
{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">



    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Laravel</title>
</head>
<body>


<main class="my-form">
    {% block content %}
    <div class="col-8 mx-auto">
        <h4 class="text-md-left my-4" style=";">Sign up</h4>

        <form name="my-form" onsubmit="return validform()" action="success.php" method="post">
            <div class="form-group row">
                <label for="login" class="col-md-4 col-form-label text-md-left">Login</label>
                <div class="col-md-8">
                    <input type="text" id="login" class="form-control" name="login">
                </div>
            </div>

            <div class="form-group row">
                <label for="email_address" class="col-md-4 col-form-label text-md-left">E-Mail Address</label>
                <div class="col-md-8">
                    <input type="email" id="email_address" class="form-control" name="email-address">
                </div>
            </div>

            <div class="form-group row">
                <label for="nick_name" class="col-md-4 col-form-label text-md-left">NickName</label>
                <div class="col-md-8">
                    <input type="text" id="nick_name" class="form-control" name="nick_name">
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-left">Password</label>
                <div class="col-md-8">
                    <input type="password" id="password" class="form-control" name="password">
                </div>
            </div>

            <div class="form-group row">
                <label for="password_repeat" class="col-md-4 col-form-label text-md-left">Repeat Password</label>
                <div class="col-md-8">
                    <input type="password" id="password_repeat" class="form-control" name="password_repeat">
                </div>
            </div>

            <div class="form-group row">
                <label for="upload_avatar" class="col-md-4 col-form-label text-md-left">Upload avatar</label>
                <div class="col-md-8">
                    <input type="file" id="upload_avatar" multiple accept="image/*,image/jpeg" name="upload_avatar">
                </div>
            </div>

            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-secondary">
                    Register
                </button>
            </div>

        </form>
    </div>
    {% endblock %}

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>