{% load static %}

<div class="media mx-5 border border-secondary rounded">
    <div class="row mx-2 my-2">
        <div class="col-2">
            <img src="{% static 'img/1.jpg' %}" class="mr-3 img-fluid rounded" alt="..." >
        </div>
        <div class="col-10 media-body">
            <div>
                <h5 class="mt-0" style="text-decoration: underline;"><a href="{% url 'ask_me:questions' %}"  class="text-secondary"> Media heading </a></h5>
                <p class="clip" style="height: 100px; overflow: hidden; text-overflow: ellipsis;">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            </div>
            <div>
                <input type="checkbox"> Correct!
            </div>
        </div>
    </div>
</div>