{% load static %}

<div class="mx-5 border border-secondary rounded">
    <div class="row mx-2 my-2">
        <div class="col-auto">
            <img src="{{answer.author.avatar.url}}" class="img-fluid rounded" alt="..." >

            {% if user.is_authenticated %}
                <div class="row mt-3">
                    <div class="likes">
                        <button type="button" class="btn btn-sm" data-id="{{ answer.id }}" data-type="answer" data-action="like" title="Like">
                            <img src="{% static 'img/like.png' %}" width="17px">
                            <span data-count="like">{{ answer.likes_count }}</span>
                        </button>

                        <button type="button" class="btn btn-sm" data-id="{{ answer.id }}" data-type="answer" data-action="dislike" title="Dislike">
                            <img src="{% static 'img/dislike.png' %}" width="17px">
                            <span data-count="dislike">{{ answer.dislikes_count }}</span>
                        </button>
                    </div>
                </div>
            {% else %}
                <div class="row mt-3">
                    <div class="likes">
                        <button disabled type="button" class="btn btn-sm">
                            <img src="{% static 'img/like.png' %}" width="17px">
                            <span data-count="like">{{ answer.likes_count }}</span>
                        </button>

                        <button disabled type="button" class="btn btn-sm" >
                            <img src="{% static 'img/dislike.png' %}" width="17px">
                            <span data-count="dislike">{{ answer.dislikes_count }}</span>
                        </button>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="col-auto media-body">
            <div>
                <h6 class="text-dark mt-2">
                    {{answer.author.username}}
                </h6>
                <p class="text-break">
                    {{ answer.answer_text }}
                </p>
            </div>
            {% if user.id == question.author.id %}
                <div class="Correct">
                    {% if answer.correct_mark %}
                        <input type="checkbox" checked id="{{ answer.id }}" onclick="correct({{ answer.id }})" title="Correct"> Correct!
                    {% else %}
                        <input type="checkbox" id="{{ answer.id }}" onclick="correct({{ answer.id }})" title="Correct"> Correct!
                    {%  endif %}
                </div>
            {% else %}
                <div>
                {% if answer.correct_mark %}
                    <div class="text-success">Correct!</div>
                {% endif %}
                </div>
            {% endif %}
            <div>
                <p class="text-right text-secondary m-0">{{ answer.make_time }}</p>
            </div>
        </div>
    </div>
</div>