{% load static %}

<div class="media mx-5 border border-secondary rounded">
        <div class="col-2">
            <img src="{{dct_.author.avatar.url}}" class="mt-2 mr-3 img-fluid rounded" alt="..." >
        </div>
        <div class="col-10 my-3 media-body">
            <div>
                <h5 class="mt-0" style="text-decoration: underline;"><a href="{% url 'ask_me:question' dct_.id %}"  class="text-secondary"> {{dct_.title}} </a></h5>
                <p class="font-weight-light">by Aleksandr Dergachev </p>
                <p class="clip" style="height: 50px; overflow: hidden; text-overflow: ellipsis;">{{dct_.question_text}} </p>
            </div>
            <div>
                <a href="{% url 'ask_me:question' dct_.id %}" class="text-secondary"> answer</a>
                <p class="text-right font-weight-light m-0">21.04.2020</p>
            </div>
        </div>
</div>