{% load static %}

<div class="media mx-5 border border-secondary rounded">
        <div class="col-auto mt-3">
            <img src="{{question.author.avatar.url}}" class="img-fluid rounded" alt="...">
            <p class="text-center font-weight-bold mt-4 mb-1">
                {{ question.rating }}
            </p>
            <div class="row mx-auto">
                <a href=""><img src="{% static 'img/like.png' %}" class="mx-1"></a>
                <a href=""><img src="{% static 'img/dislike.png' %}" class="mx-1"></a>
            </div>

        </div>
        <div class="col-auto my-3 media-body">
            <div>
                <h5 class="mt-0" style="text-decoration: underline;"><a href="{% url 'ask_me:question' question.id %}"  class="text-dark"> {{question.title}} </a></h5>
                <p class="text-secondary">by {{question.author.username}}</p>
                <p class="clip" style="height: 50px; overflow: hidden; text-overflow: ellipsis;">{{question.question_text}} </p>
            </div>
            <div>
                <a href="{% url 'ask_me:question' question.id %}" class="text-secondary mr-5">answer ({{ question.num_answer }})</a>
                Tags:
                <span class="mr-2"></span>
                {% for tag in question.tags.all %}
                    <a href="{% url 'ask_me:tag' tag.tag_name %}" class="badge badge-secondary">{{ tag.tag_name }}</a>
                {% endfor %}
                <p class="text-right text-secondary m-0">{{question.make_time}}</p>
            </div>
        </div>
</div>